body{
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

.header{
    color: #32b9cd; 
    border-bottom: solid 3px #32b9cd;
    /* border: solid 3px green; */
}

.container{
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #32b9cd;
}
.navbar{
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: #e3b062;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

/* Banner */

.banner{
    border: solid 3px pink;
    color: white;
    padding: 40px 0;
    height: 400px;
    background-image: url("assets/imgs/bg-jelly-fish-para_outras_pags.png");
    /*url = caminho para encontrar um recurso
    Uniform Resource Locator = Localizador Padrão de Recursos.
    */
    background-size: cover;
}
/*display flex*/
.banner .container{
    justify-content: center;
    height: 400px;
    display: flex;
    border: solid 3px rgb(182, 21, 47);
    align-items: center;
}

.banner p{
    font-size: 36px;
    border: solid 3px green;
    width: 280px;
}
.banner .container span{
    font-weight: 900;
}

.social{
    border: solid 3px green;
    background-color: #e5e5e5;
}

.box img{
    width: 170px;
}
.social .container{
    border: 3px solid green;
}

.social .container .boxes{
    border: solid 3px yellow;
    display: flex;
}

.box{
    margin: 50px 10px 10px 10px;
    border: solid blue 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social p{
    text-align: center;
}

.footer{
    background-color: #32b9cd;
    height: 150px;
    color: #fff;

    display: flex;
}
.footer .container {
    display: flex;
    justify-content: center;
}

.header ul #aqui{
    font-weight: 1000;
    color: #32b9cd;
}

